/*
!/.github/
/.github/*
!/.github/workflows/
/.github/workflows/*
!/.github/workflows/deploy-pages.yml
!/assets/
!/assets/**
!/data/
!/data/**
!/.gitignore
!/.nojekyll
!/README.md
!/index.html
!/PROGRESS.md
!/zen_matrix_soft_papers/
!/zen_matrix_soft_papers/**
!/zen_matrix_soft_study_archive_toggle_nav/
!/zen_matrix_soft_study_archive_toggle_nav/**
!/zen_matrix_soft_about_me_toggle_nav/
!/zen_matrix_soft_about_me_toggle_nav/**
!/zen_matrix_soft_project_hub_toggle_nav_1/
!/zen_matrix_soft_project_hub_toggle_nav_1/**
